html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  max-width: 900px;
  margin: 0 auto;
  background-color: hsl(220.85deg 5.52% 80.16% / 37%);
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  padding: 20px;
  word-break: break-word;
}